body {
    background-color: var(--bg-color);
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    background-color: var(--bg-header-color);
    z-index: 100;
}

/* .header .nav-link {
    margin-right: 10px;
} */

.header input {
    font-size: 1rem;
}

.header .nav-link, 
.header .dropdown-item {
    color: var(--text-color);
    font-size: 1.6rem;
    text-transform: uppercase;
}

.header a i {
    font-size: 1.4rem;
}

.header a:visited {
    color: var(--text-color);
}

.header a:hover {
    color: var(--main-color);
}

.header .nav-link.active {
    color: var(--main-color);
}

.header input {
    padding: 0;
    max-width: 300px;
}

/* .header input::- {
    background-color: var(--bg-header-color);
} */

.header form.search-box {
}

.header form.search-box button i {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.header form.search-box button i:hover {
    color: var(--main-color);
}

.header .navbar-brand i {
    color: var(--main-color);
    font-size: 1.8rem;
}

.header .navbar-brand a {
    color: var(--text-color);
    font-size: 1.8rem;
}

.navbar-brand span {
    color: var(--main-color);
    font-size: 1.4rem;
}

.navbar .dropdown-menu {
    background-color: var(--bg-header-color);
}

.navbar .dropdown-menu a:hover {
    color: var(--main-color);
    background-color: var(--bg-header-color);
}

.navbar .dropdown-menu a {
    color: var(--text-color);
}

.navbar-toggler {
    color: var(--text-color);

}

.navbar-toggler i {
    font-size: 2rem;
}

/* Login / Register In Header */

.header .login {
    position: relative;
    user-select: none;
}

.header .login input:checked ~ #login-form {
    display: block;
}

.header .login .m-btn {
    margin-right: 5px;
}

.header .login-form {
    display: none;
    z-index: 1;
    width: 200px;
    position: absolute;
    top: 100%;
    background-color: var(--bg-color);
}

.header .login-form label {
    color: var(--text-color);
    font-size: 1rem;
    margin-left: 5px;
}

.header .login .toggle-login-btn {
    cursor: pointer;
}

.header .logged form {
    display: flex;
    align-items: center;
}

.header .logged form a {
    font-size: 1.2rem;
}

.header .logged form span {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 1.2rem;
}

/* END HEADER */


/* FOOTER */
.footer {
    margin-top: 50px;
    background-color: var(--bg-header-color);
}

.footer .content a, 
.footer .content span, 
.footer .content p {
    font-size: 1.6rem;
    color: var(--text-color);
}


.footer .social-list i {
    font-size: 2rem;
    color: var(--text-color);
}


.footer .content .logo {
    font-size: 2rem;
}

.footer .content .logo span {
    font-size: 2rem;
    color: var(--main-color);
}

.footer .content h3 {
    color: var(--text-color);
}

.social-list {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.footer .social-item {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--txt-color);
    color: var(--main-color);
}

.footer .social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.footer .social-item:hover i {
    color: #000;
}

.footer .social-item ~ .social-item {
    margin-left: 20px;
}


/* END FOOTER */


/* REGISTER */
.register h1 {
    color: var(--text-color);
}

.register label {
    font-size: 1.5rem;
    color: var(--text-color);
}

.register .invalid-feedback {
    font-size: 1.5rem;
    color: red;
}

.register .is-invalid {
    font-size: 1.5rem;
    color: green;
}

.register input[type="radio"] {
    font-size: 1.5rem;
}

/* END REGISTER */

/* HERO SLIDE */

.hero-slide-item {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wrapper {
    padding-left: 7rem;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
    text-transform: uppercase;
}

/* .item-content-title-2 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
} */

/* .item-content-title, 
.item-content-title-2 {
    height: 5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
} */

.item-status {
    font-size: 2rem;
    color: var(--text-color);
    margin-top: calc(var(--space-top) / 2);
    border-radius: 10px;
}

.item-action {
    margin-top: calc(var(--space-top) / 2);
}

.item-action a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.8rem;
}

.item-action i {
    color: var(--main-color);
}

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

.swiper-slide-active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.swiper-button-prev::after, 
.swiper-button-next::after {
    font-size: 1.6rem;
    color: var(--text-color);
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    color: var(--main-color);
}

/* END HERO SLIDE */

/* FILM ITEM */

.section {
    padding-top: 80px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-heading {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    border-left: 4px solid var(--main-color);
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.section-link {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.section-link i {
    font-size: 2.5rem;
}

.films-slide {
}

.film-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.film-item:hover .film-item-content .film-item-title {
    color: var(--main-color);
}

.film-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s linear;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.film-item:hover img {
    transform: scale(1.2);
}

.film-item-status {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.film-item-status span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.film-item-content {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.film-item-content::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.film-item-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.film-item-title-2 {
    margin-top: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.film-item-title, 
.film-item-title-2 {
    color: var(--text-color);
    position: relative;
    height: 2.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}


/* END FILM ITEM */

/* Toast Message */
.toast {
    max-width: 200px;
    z-index: 100;
    position: fixed;
    top: 100px;
    right: 10px;
    font-size: 2.5rem;
}

.toast-header {
    font-size: 2rem;
}

.toast-body {
    font-size: 1.6rem;
    color: #000;
}


/* FILM DETAIL */
.film-detail-breadcrumb li,
.film-detail-breadcrumb li a {
    font-size: 2rem;
    color: var(--text-color);
}

.film-detail-breadcrumb li a:hover,
.film-detail-breadcrumb li a.active {
    color: var(--main-color);
}


.film-detail-main {
    position: relative;
    min-height: 540px;
    max-height: 640px;
}

.film-detail-main .play-film {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    background-color: var(--main-color);
    opacity: 0.6;
    color: #000;
    animation: animate 2s linear infinite;
    z-index: 100;
    cursor: pointer;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 150, 58, 0.7);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
    }

    100% {
        box-shadow: 0 0 0 rgba(255, 193, 7, 0);
    }
}

.film-detail-main .film-img-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.film-detail-main-box {
    width: 100%;
    height: 50%;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.film-img-poster {
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--text-color);
}

.film-detail-main-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 30px;
}

.film-detail-main-text .film-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
}

.film-detail-main-text .film-title-2 {
    font-size: 2rem;
    font-weight: 60;
    color: var(--text-color);

}

.film-detail-main-text .film-action a {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--text-color);
}

.film-detail-main-text .film-action a:hover {
    color: var(--main-color);
    opacity: 0.9;
}

.film-detail-main-text .film-action i {
    font-size: 1.8rem;
}

/* End detail film */

/* Film episode */
.film-episode-list-box {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--bg-box-color);
}

.film-episode-list {
    margin-top: 10px;
    justify-content: space-between;
}

.film-episode-list li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.film-episode {
    
}

.film-episode a {
    white-space: nowrap;
    text-align: center;
    display: block;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--bg-header-color);
    color: var(--text-color-dark);
    font-size: 2rem;
}

.film-episode a:hover, 
.film-episode.active a {
    color: var(--main-color);
}



/* End Film episode */

/* Rating */
.film-detail-box {
    margin-top: 20px;
    background-color: var(--bg-box-color);
}

.film-detail-box hr {
    margin-top: 20px;
    color: var(--main-color);
}

.film-detail-title {
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
}

.film-rating {
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.film-rating-star i {
    font-size: 2.5rem;
    color: var(--main-color);
}

.film-rating-score {
    margin-left: 10px;
    font-size: 2.5rem;
    color: var(--text-color);
}

.film-detail-text {
    background-color: var(--bg-box-color);
    font-size: 2rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film-genre,  
.film-status,  
.film-time,  
.film-year,  
.film-nation,  
.film-imdb,  
.film-director,  
.film-actor {
    margin-top: 10px;
}

.film-genre strong,  
.film-status strong,  
.film-time strong,  
.film-year strong,  
.film-nation strong,  
.film-imdb strong,  
.film-director strong,  
.film-actor strong {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--text-color);
}


.film-genre a,  
.film-status span,  
.film-time span,  
.film-year a,  
.film-nation a,  
.film-imdb span,  
.film-director a,  
.film-actor a {
    padding: 8px 0;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color-dark);
}

.film-genre a:hover, 
.film-year a:hover,
.film-nation a:hover, 
.film-director a:hover, 
.film-actor a:hover {
    color: var(--main-color);
}

.film-description {
    padding-bottom: 10px;
}

.film-description-text p {
    margin-top: 10px;
    font-size: 1.8rem;
    color: var(--text-color);
}


/* END FILM DETAIL */


/* WATCH FILM  */
.film-box video {
    width: 100%;
}
/* END WATCH FILM  */